<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Recordathon</title>
    <link rel="stylesheet" type="text/css" href="style/main.css">
  </head>
  <body>
    <div id="content">
      <h1>Existing files</h1>
      <div class="section">
      {{#files}}
        {{.}} <a href="/edit/{{.}}">Edit</a> <br>
      {{/files}}
      </div>
      <p class="section">You have {{fileCount}} files.</p>
      <a href="/add">Add a file</a>
    </div>
  </body>
</html>